* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.main-container {
    /* display: flex;
    flex-direction: column; */
    background-color: black;
    color:white;
    /* background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0); */
}

@media (max-width: 640px) {
    .main-container div.header-txt {
        color:white;
    }
}
