/* styles.css */
.bg-pic {
    background-image: url('person.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 640px) {
    .bg-pic {
        display: none;
    }
}
  