/* styles.css */
.bg-pic {
    background-image: url('person.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 640px) {
    .bg-pic {
        display: none;
    }
}
.blink {
 animation: blinking 0.8s ease-in-out 0s  infinite;
}
@keyframes blinking {

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}