.cord {
    /* animation: swing 1s ease-in infinite 0.3s ; */

}
.swinger {
    rotate: 180deg;
    text-shadow: 100px 500px 500px rgb(237, 255, 43);
    border-radius: 100%;
    animation: swing 2.2s ease-in infinite 0.3s ;
}

@keyframes swing  {
    0% {
        transform: scaleX(1.05) scaleY(1.05) ;
    }
    50% {
        transform: scaleX(1.1) scaleY(1.1) ;
    }
    100% {
        transform: scaleX(1.05) scaleY(1.05) ;
    }
}